server {
  listen                        443 ssl;
  ssl_certificate               /etc/ssl/certs/chain.pem;
  ssl_certificate_key           /etc/ssl/private/{{ inventory_hostname }}.pem;
  server_name                   {{ inventory_hostname }} {{ inventory_hostname }}.{{ domain }} {{ hostvars[inventory_hostname]['ip_address'] }};

  location /debian-live {
    alias                       /usr/local/debian-live/;
    autoindex                   on;
    try_files                   $uri $uri/ =404;
  }
}
